<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<add key="Username" value="user" />
		<add key="Password" value="password" />
		<add key="JwtKey" value="PLACEHOLDER" />
		<add key="JwtIssuer" value="https://localhost/" />
		<add key="Port" value="44355" />
		<add key="PortHttps" value="44356" />
		<add key="ServiceName" value="CrystalCmdService" />
		<!-- LogFile must be set to a path the process access write access -->
		<!-- <add key="LogFile" value="crystalcmd_log.txt" /> -->

		<!-- If set, ExternalLogsAssemblyFilePath is used to hook into alternative log backends -->
		<add key="ExternalLogsAssemblyFilePath" value="" />
		<add key="ExternalLogsAssemblyClassName" value="" />
		<add key="ExternalLogsAssemblyFunctionName" value="" />

		<!-- Sql based work queue -->
		<add key="WorkQueueSqlType" value="sqlite"/>
		<add key="WorkQueueSqlConnection" value="Data Source=C:\CrystalCmd\crystalcmd-workqueue.db;"/>
		<!--
		<add key="WorkQueueSqlType" value="psql"/>
		<add key="WorkQueueSqlConnection" value="Server=localhost;Port=5432;Database=pg_crystalcmd_queue;Userid=postgres;Password=password;Pooling=true;MinPoolSize=2;"/>
		-->
		<!--
		<add key="WorkQueueSqlType" value="sql"/>
		<add key="WorkQueueSqlConnection" value="Server=localhost;Database=pg_crystalcmd_queue;User Id=sa;Password=password;"/>
		 -->

	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>