name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  windows-build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v6
    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x
    - name: Build
      run: cd dotnet && choco install CrystalReports2010Runtime -y --source . && ./build_zips.ps1
    - name: Test Report
      uses: dorny/test-reporter@v2
      if: success() || failure() # run this step even if previous step failed
      with:
        name: unit tests
        path: "**/TestResults/*.xml"
        reporter: dotnet-nunit
    - name: Archive artifacts
      uses: actions/upload-artifact@v4
      with:
        name: build-output
        path: |
          dotnet/build
        retention-days: 1
